notebook==7.2.2
python-dotenv==1.0.1
tornado==6.4.1
jupyter==1.1.1
ipywidgets==8.1.5
setuptools==75.1.0

numpy==2.1.2
matplotlib==3.9.2
seaborn
sortedcontainers==2.4.0

cupy-cuda12x
python-chess
pybind11

torch>=2.0.0
numpy>=1.24.0
chess>=1.10.0
numba>=0.57.0
tqdm>=4.65.0
